{% extends "base.html" %}
{% block content %}
<main>
    <!-- TODO: change h1 -->
    <h1 style="font-size: 10vw">archive</h1>
    <hr>
    <div class="grid-container">
        {% for i in my_archive %}
        <div class="post">
            <a href="archive/{{ i.url }}">
                <h2 style="margin-bottom: 5px;">{{ i.title }}</h2>
            </a>
            <div style="margin-top: 5px; display: inline-block;">{{ i.date }}</div>
            {% for tag in i.tags %}
            <div style="display: inline-block;" class="tags">
                <h4 class="tag">{{ tag }}</h4>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script>
        window.onload = () => {

            const tags = [...document.querySelectorAll('.tag')]
            let flag = false

            for (let i = 0; i < tags.length; i++) {
                tags[i].onclick = () => {
                    flag = !flag
                    console.log("clicked tag: " + tags[i].innerHTML)

                    const match = tags.filter(tag => tag.innerHTML == tags[i].innerHTML)
                    const inverse_match = tags.filter(tag => tag.innerHTML != tags[i].innerHTML)

                    const inverse_posts = inverse_match.map(x => x.parentElement.parentElement)
                    const unique_posts = [... new Set(inverse_posts)]
                    console.log(inverse_posts)
                    console.log(unique_posts)

                    if (flag) {
                        for (p of unique_posts) {
                            p.style['display'] = 'none'
                        }
                    }
                    if (!flag) {
                        inverse_match.forEach(element => {
                            element.parentElement.parentElement.style['display'] = ''
                        })
                    }
                }
            }
        }
    </script>
</main>
{% endblock %}