{% extends "base.html" %}
{% block content %}
<main>
    <h1>archive</h1>
    <br>
    <div class="grid-container">
        <div class="grid-item">
            {% for i in my_archive %}
            <a style="line-height: 1.5" href="archive/{{ i.url }}">
                <h4>{{ i.title }}</h4>
            </a>
            <p>{{ i.date }}</p>
            <!-- {% for tag in i.tags %}
            <div class="tags">
                <p>{{ tag }}</p>
            </div>
            {% endfor %} -->
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}