{% extends "base.html" %}
                    {% block content %}
                    <main>
                        <!-- Title -->
                        <h1>Virginia Population, 2019</h1>
                        <!-- Year -->
                        <h2></h2>
                        <!-- Tags -->
                        <div class="tags">
                            <a href="/tags/">
                                <h4 style="display: inline;">[ArcMap]</h4>
                            </a>
                        </div>
                        <!-- Thumbnail -->
                        <img src="{ url_for('static', filename='images/None') }" alt="">
                        <!-- Content -->
                        <p>This map combines choropleth and graduated symbol maps to dispaly Virginia's population as of
                        2010.
                        Data from the Census Bureau.</p>
                    </main>
                    {% endblock %}