{% extends "base.html" %}
                    {% block content %}
                    <main>
                        <!-- Title -->
                        <h1>Weather4you</h1>
                        <!-- Year -->
                        <h2></h2>
                        <!-- Tags -->
                        <div class="tags">
                            <a href="/tags/">
                                <h4 style="display: inline;">[Javascript, React.js, Mapbox/Maplibre GL JS, Recharts]</h4>
                            </a>
                        </div>
                        <!-- Thumbnail -->
                        <img src="{ url_for('static', filename='images/./files/other/weather4you.PNG') }" alt="">
                        <!-- Content -->
                        <p>Weather4you is a front-end web application written with Javascript, React.js, Maplibre GL JS, and
                        Recharts.

                        Click anywhere in the US to receive your forecast for the day and temperature for the week!

                        Data from the National Weather Service.</p>
                    </main>
                    {% endblock %}