::selection {
    background: #639a88ff;
}

html {
    font-family: 'Major Mono Display', monospace;
}

h2 {
    margin: 15px;
}

a {
    color: #639a88ff;
}

hr {
    color: #0b4f6cff;
}

li::before {
    content: '>';
    position: absolute;
    left: 0;
}

ul {
    position: relative;
    list-style: none;
    padding: 15px;
    font-size: large;
}

.intro {
    text-align: center;
}

.intro ul {
    display: inline-block;
    margin: 0;
}

.intro li {
    text-align: left;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e6dec9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #639a88ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0b4f6cff;
}

@media only screen and (max-width: 600px) {
    h1 {
        height: 10vh;
        font-size: 200%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    p {
        font-size: large;
    }

    body {
        background-color: #FFF7DF;
        color: #0b4f6cff;
    }

    .sidebar {
        background-color: #0b4f6cff;
        color: #FFF7DF;
        padding: 15px;
        position: sticky;

        top: 0;
    }

    .externals {
        text-align: center;
        width: 90%;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    img,
    object,
    iframe {
        width: 100%;
        height: 50vh;
        object-fit: scale-down;
    }

    #map {
        display: flex;
        justify-content: center;
    }

    .project {
        padding: 20px;
        border-bottom: 2px solid #0b4f6cff;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }

    .about {
        border-bottom: 2px solid #0b4f6cff;
        padding-bottom: 20px;
    }

    footer {
        background-color: #639a88ff;
        color: #0b4f6cff;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        margin: 0;
        padding: 15px;
    }
}

@media only screen and (min-width: 600px) {

    body {
        background-color: #FFF7DF;
        color: #0b4f6cff;
    }

    h1 {
        padding: 10px;
        text-align: center;
    }

    .sidebar {
        height: 100%;
        position: fixed;
        width: 25vw;
        top: 0;
        padding: 0;
        left: 0;
        margin-top: 0;
        background-color: #0b4f6cff;
        color: #FFF7DF;
    }

    .externals {
        position: fixed;
        bottom: 5vh;
        text-align: center;
        width: 25%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .more {
        text-align: center;
    }

    .more p {
        text-align: left;
        width: 30vw;
        margin: 0;
        padding: 25px;
        margin: 0 auto;
    }

    .about {
        border-bottom: 2px solid #0b4f6cff;
        padding-bottom: 20px;
        padding: 10px;
    }

    .main {
        margin-left: 25vw;
    }

    .contact>p {
        position: fixed;
        background-color: #0b4f6cff;
        color: #FFF7DF;
    }

    img,
    iframe,
    object {
        height: 75vh;
        width: 100%;
        object-fit: contain;
    }

    .project {
        padding: 20px;
        border-bottom: 2px solid #0b4f6cff;
    }

    footer {
        background-color: #639a88ff;
        color: #0b4f6cff;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        height: 10vh;
        margin: 0;
        padding: 0;
    }
}