{% extends "base.html" %}
{% block content %}
<main>
    <h1 style="font-size: 10vw">about</h1>
    <hr>
    <!-- <p>Mitchell enjoys maps, coding, design, hazy IPAs, and finding unorthodox music.</p> -->
    <p>Mitchell Green</p>
    <img alt="headshot of Mitchell, using dots" src="{{url_for('static', filename='images/headshot_dots.png' )}}">
    <h6>The image above is a headshot of Mitchell, using "Voronoi Stippling". If you squint, you may get
        a better look. Forked from Mike Bostock at D3.
        <a href="https://observablehq.com/@mbostock/voronoi-stippling">Source</a>
    </h6>
    <p>This website was coded by Mitchell from scratch using <a
            href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a>, HTML, CSS, Javascript, and <a
            href="https://www.pythonanywhere.com/">PythonAnywhere</a>.
    </p>
    <h3>Contact</h3>
    <ul>
        <li><a href="https://www.linkedin.com/in/jmitchellgreen/">LinkedIn</a></li>
        <li><a href="https://github.com/jmitchellgreen">Github</a></li>
        <li><a href="mailto: jamesmitchellgreen@yahoo.com">Email</a></li>
    </ul>

</main>
{% endblock %}