{% extends "base.html" %}
{% block content %}
<main>
    <h1>about</h1>
    <div id="globe"></div>
    <p>Mitchell enjoys maps, coding, design, hazy IPAs, and finding weird music.
    </p>
    <p>This website was created by Mitchell from scratch using <a
            href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a>, HTML, CSS, Javascript, and <a
            href="https://www.pythonanywhere.com/">PythonAnywhere</a>.
    </p>
    <h3>Contact</h3>
    <ul>
        <li><a href="https://www.linkedin.com/in/jmitchellgreen/">LinkedIn</a></li>
        <li><a href="https://github.com/jmitchellgreen">Github</a></li>
        <li><a href="mailto: jamesmitchellgreen@yahoo.com">Email</a></li>
        <!-- <li><a href="/about/resume">Resume</a></li> -->
    </ul>

    <!-- <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{url_for('static', filename='javascript/script.js')}}"></script> -->
</main>
{% endblock %}