{% extends "base.html" %}
{% block content %}
<main>
    <h1>about</h1>
    <div id="globe"></div>
    <p>Mitchell enjoys maps, coding, design, sustainability, and open-source software. (not necessarily in that
        order)
    </p>
    <p></p>
    <h3>Contact</h3>
    <p><a href="https://www.linkedin.com/in/jmitchellgreen/">LinkedIn</a></p>
    <p><a href="https://github.com/jmitchellgreen">Github</a></p>
    <p><a href="mailto: jamesmitchellgreen@yahoo.com">Email</a></p>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
</main>
{% endblock %}