{% extends "base.html" %}
{% block content %}
<main>
    <!-- Title -->
    <h1>How to Install Geopandas the Easy Way</h1>
    <!-- Year -->
    <h2>2022-12-12</h2>
    <!-- Tags -->
    <div class="tags">
        <h4 style="display: inline;">geopandas</h4>
        <h4 style="display: inline;">python</h4>
        <h4 style="display: inline;">geospatial</h4>
    </div>

    <!-- Content -->
    <article>
        <img src="../../../static/images/geopandas_logo.png">
        <p>If you found this article, that means you most likely
            have had issues installing the python library
            <strong><a href="https://geopandas.org/en/stable/">geopandas</a></strong> If not, no worries! The follow
            method is the smoothest entry to begin coding with the popular geospatial python library.
        </p>
        <p></p>
    </article>
</main>
{% endblock %}