{% extends "base.html" %}
{% block content %}
<main>
    <!-- Title -->
    <h1 class="title">Parking Proliferation</h1>
    <!-- Year -->
    <h2 class="date">2023-02-03</h2>
    <!-- Tags -->
    <div class="tags">
        <p style="display: inline;">Javascript</p>
        <p style="display: inline;">React</p>
        <p style="display: inline;">Maplibre GL JS</p>
        <!-- <p style="display: inline;">OpenStreetMap</p> -->
        <p style="display: inline;">Tailwind CSS</p>

    </div>
    <!-- Thumbnail -->
    <img alt="" src="{{ url_for('static', filename='images/parking-proliferation.png') }}" />
    <a href="/archive/parking-proliferation">Click here to launch app</a>
    <p>
        Parking Proliferation
    </p>
</main>
{% endblock %}