html,
body {
    font-family: 'DM Mono', sans-serif;
    height: 100vh;
    margin: 0;
}

::selection {
    background: #639a88ff;
}

a:hover {
    text-decoration-color: #639a88ff;
}

a {
    color: inherit;
    /* text-decoration-style: dashed; */
    text-decoration-thickness: 0.25rem;
}

#home {
    writing-mode: vertical-lr;
    font-size: 10vh;
    margin: 2vh;
    padding: 5px;
}

#name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vw;
}

.nav {
    width: 10vw;
    position: fixed;
    height: 100vh;
}

li.sidebar {
    font-size: 4vh;
}

ul.sidebar {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    text-align: end;
}


/* all other pages */
main {
    /* padding-left: 20vw; */
    max-width: 550px;
    margin-left: 30vw;
    /* display: flex; */
    justify-content: center;
    padding: 5px;
}

/* change me? */
img {
    max-width: 550px;
}

hr {
    border: none;
    height: 20px;
    background-color: black;
}

sup {
    font-size: 60%;
}

div.references ol {
    overflow: auto;
}

/* mobile screens */
@media screen and (max-width: 700px) {

    main {
        padding-top: 15vh;
        max-width: 90vw;
        margin: 0;
    }

    #name {
        font-size: 20vw;
        padding: 5vw;
        transform: translateX(-50%) translateY(-50%);
    }

    #home {
        text-align: center;
        padding: 0;
        writing-mode: horizontal-tb;
        font-size: 10vw;
    }

    #sidebar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.sidebar {
        top: 10vw;
    }

    li.sidebar {
        display: inline-block;
        font-size: 4vw;
        padding: 10px;
    }

    .nav {
        width: 100%;
        height: 15vh;
        position: fixed;
        top: 0;
        background-color: white;
    }

    img {
        max-width: 90vw;
    }

}

/* ///////////////////////// */

.tags h4 {
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.2em;
    margin: 0;
}

.tags a {
    text-decoration: none;
}

p {
    /* margin-top: 45px; */
    margin-bottom: 45px;
}

code {
    background-color: #639a88ff;
    padding: 1rem;
    display: inline-block;
}

code::selection {
    background-color: white;
}

span.material-symbols-outlined {
    vertical-align: middle;
}